body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 10%);
}
.list-container{
   width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
.to-do-list {
  
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4em;
    color: white;
    font-family: serif;
}

button {
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px 20px;
  color: white;

  transition: background-color 0.5s ease;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-task-button {
  background-color: #4caf50;
  margin-left: 10px;
}

.add-task-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #da190b;
}

.moveTaskUp-button {
  background-color: #008cba;
}

.moveTaskUp-button:hover {
  background-color: #007a9b;
}

.moveTaskDown-button {
  background-color: #008cba;
}

.moveTaskDown-button:hover {
  background-color: #007a9b;
}

input[type="text"] {
  font-size: 1.6em;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.8);
}

ol {
  padding: 0;
}

li {
  
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;

  
}

.text {
  flex: 1;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.delete-button, .moveTaskUp-button, .moveTaskDown-button {
padding: 8px 12px;
font-size: 1.4em;
margin-left: 10px;
}